@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre');

body {
	background-color: #eeeee1;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Cormorant Garamond';
	color: #0000FF;
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
	position: relative;
	line-height: 200%;
	font-size: 18px;
	margin: 2em;
	letter-spacing: 1.5px;
	padding: 0 30px;
}

div {
	background-color: #FFE2B8;
}

footer {
	background-color: #FF957E;
}

header {
	background-color: #FFED74;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: 'Proza Libre', sans-serif;
	margin-bottom: 10px;
}

img { 
    display: block;
    max-width: 80%;
    height: auto;
    opacity: 1;
    margin: auto 0px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 20px;
    margin-right: 20px;
}

nav {
	background-color: #E8C66A;
	display: inline;
	width: 100%;
    margin: 0 2em;
    border: 0px;

}

section {
	background-color: #FFE2B8;
}

ul {
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
}

#wrapper {
	margin: auto 0px;
}

.heroimage {
    height: auto;

}

.topnav {
	font-size: 20px;
    font-weight: 600;
    font-family: 'Proza Libre', sans-serif;
    text-decoration: none;
    margin: 0 16 10 16px;
}

.sectiontitle {
	font-size: 14px;
	margin: 10 0 5 0px;
}

.subtitle {
	font-size: 24px;
	font-family: 'Proza Libre', sans-serif;
	padding: 8 0px;
}

#contact {
	font-weight: 600;
	font-family: 'Proza Libre', sans-serif;
}

#slogan {
	font-style: italic;
	letter-spacing: 1.10px;
	margin-bottom: 12px;
}