h1 {
	text-align: left;
}


/* Remove margins and padding from the list, and add a black background color */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
}

/* Style the links inside the list items
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    /*text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}*/

body {
	background-color: #eeeee1;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	font-family: Helvetica;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: Helvetica;
}



p {
	color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

#slogan {
	font-style: italic;
}

#contact {
	font-weight: 400;
}

.subtitle {
	font-size: 24px;
}

.sectiontitle {
	font-size: 10px;
}
