h1 {
	text-align: left;
}

body {
	background-color: #eeeee1;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	font-family: Helvetica;
}

.floating-box {
	display: inline-block;
    width: 120px;
    height: 75px;
    margin: 10px;
    border: 0px;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: Helvetica;
}

p {
	color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

#slogan {
	font-style: italic;
}

#contact {
	font-weight: 400;
}

.subtitle {
	font-size: 24px;
}

.sectiontitle {
	font-size: 10px;
}

ul {
    list-style-type: none;
    display: inline-block;
    color: #0000FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
