@import url('https://fonts.googleapis.com/css?family=Arimo|Karla');

body {
	background-color: #eeeee1;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Karla', sans-serif;
	color: #0000FF;
}

aside {

}

article {
	line-height: 200%;
	font-size: 18px;
	margin: 2em;
	letter-spacing: 1.5px;
	padding: 0px 20px;
	max-width: 650px;
	display: inline-flex;
	position: relative;
}

div {

}

footer {

}

header {

}

h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: 'Arimo', sans-serif;
	margin-bottom: 10px;
}

img { 
    display: inline-block;
    max-width: 80%;
    height: auto;
    opacity: 1;
    margin: 20px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 20px;
    margin-right: 20px;
}

nav {
	display: inline;
	width: 98%;
    margin: 10px 20px;
    border: 0px;

}

section {

}

ul {
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
}

li {
	text-decoration: none;
}

#wrapper {
	margin: auto 0px;
}

.heroimage {
    height: auto;

}

.topnav {
	font-size: 20px;
    font-weight: 600;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    margin: 20px;
}

.sectiontitle {
	font-size: 14px;
	margin: 10px 0px 5px 0px;
}

.subtitle {
	font-size: 24px;
	font-family: 'Arimo', sans-serif;
	padding: 8px 0px;
}

#left {
    padding: 20px;
    float: left;
    width: 46%;
    text-align: left;
    display: inline-block;
}

#right {
    padding: 20px;
    float: right;   
    width: 46%;
    text-align: right;
    display: inline-block;
}

#two_column {
	background-color: #f7f7f7;
    padding: 20px;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#slogan {
	font-style: italic;
	letter-spacing: 1.10px;
	margin-bottom: 12px;
}