body {
	background-color: #eeeee1;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
}

h1 {
	font-weight: 700;
	font-size: 48px;
}

p {
	font-family: Helvetica;
	color: blue;
}

#slogan {
	font-style: italic;
}

image {
	background-position: center;
}